<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Admin Management System</title>
</head>
<body>
  <div class="container my-2">
      <h1>Product List</h1>
<!--      <a th:href ="@{/showNewProductsForm}" class="btn btn-primary btn-sm mb-3"> Add Products</a>-->
        <table border="1" class = "table table-striped table-responsive-md">
      <thead>
        <tr>
          <th>Shoe Id</th>
          <th>Brand</th>
         <th>Size</th>
         <th>Price</th>
        <th>Stock</th>
        <th>Quantity</th>
      </tr>
    </thead>

    <th:block th:each="product: ${listProducts}">

      <tbody>

      <td th:text="${product.id}"></td>

      <td th:text="${product.brand}"></td>

      <td th:text="${product.size}"></td>

      <td th:text="${product.price}"></td>

      <td th:text="${product.stock}"></td>

      <td th:text="${product. quantity }"></td>

      <td th:text= <a th:href ="@{/showNewProductsForm}"
          class="btn btn-primary btn-sm mb-3"> delete </a></td>

    </th:block>

<!--add a delete button-->
  </table>
</div>

</body>
</html>